<%inherit file='base.html'/>
<%block name="main">
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th>日期</th>
        <th>时刻</th>
        <th>气象</th>
        <th>温度</th>
        <th>风速</th>
        <th>风向</th>
    </tr>
    </thead>


    <tbody>
    % for $a in ${result}:


    <tr>
        <td>$a['weather_date']</td>
        <td>$a['weather_time']</td>
        <td>$a['cond']</td>
        <td>$a['temp']</td>
        <td>$a['wind_speed']</td>
        <td>$a['wind_dir']</td>
    </tr>
    % endfor
    </tbody>
</table>
</%block>
<%block name='js'>

<script>

</script>
</%block>
