<%inherit file='base.html'/>
<%block name="main">
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th>日期</th>
        <th>时刻</th>
        <th>气象</th>
        <th>温度</th>
        <th>风速</th>
        <th>风向</th>
    </tr>
    </thead>


    <tbody>

    <tr>
        <td>2017-5-26</td>
        <td>11:00</td>
        <td>晴</td>
        <td>22</td>
        <td>无</td>
        <td>无持续风向</td>
    </tr>
    <tr>
        <td>2017-5-26</td>
        <td>14:00</td>
        <td>晴</td>
        <td>27</td>
        <td>无</td>
        <td>无持续风向</td>
    </tr>
    <tr>
        <td>2017-5-26</td>
        <td>17:00</td>
        <td>晴</td>
        <td>18</td>
        <td>1-2级</td>
        <td>北风</td>
    </tr>
    </tbody>
</table>
</%block>
<%block name='js'>

<script>

</script>
</%block>
